.modalUnderlay {
  align-items: center;
  background: transparent;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.modalUnderlay .modal {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: flex-end;
  margin: 50px;
  max-width: 725px;
  min-width: 250px;
  min-height: 400px;
  overflow: hidden;
  position: relative;
  width: 60vw;
}

.modalUnderlay header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  max-height: 166px;
  padding: 0 40px;
}

.modalUnderlay header h2 {
  margin: 10px 0;
}
.modalUnderlay header p {
  margin: 10px 0;
  text-align: center;
}
