.modalUnderlay {
  align-items: center;
  background: transparent;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.modalUnderlay .modal {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: flex-end;
  margin: 50px;
  max-width: 725px;
  min-width: 250px;
  min-height: 400px;
  overflow: hidden;
  position: relative;
  width: 60vw;
}
